<h1>Face detection</h1>
<p> Status: <%= @faces["status"] %> </p>
<p> Faces: <%= @faces["photos"].count %> </p>


<% @faces["photos"].each do |url| %>
  <div class="photo">
    <%= image_tag url["url"] %>
  <% url["tags"].each do |photo| %>
    <div><%= photo %></div>
  <% end %>
  </div>
<% end %>
